html,
body {
  margin: 0px;
}

.SignIn {
  background: url(../images/crime.png) center center / cover no-repeat;
  overflow hidden;
}

.signcard {
  background-color: #faf9de;
  opacity: 1;
  height: 475px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
}

.card-header {
  color: #3c240f;
}

.card-body {
  color: #3c240f;
}

.container-fluid {
  align-content: center;
  height: 100vh;
}

a {
  font-family: "Roboto", sans-serif;
  color: brown;
}

.nav{
	opacity: 1;
	background-color: #faf9de;
	position: relative;
	top:0;
}