html,
body {
  margin: 0px;
}

.SignIn {
  background: url(../images/crime.png) center center / cover no-repeat;
  overflow hidden;
}

.signcard {
  background-color: #faf9de;
  opacity: 1;
  height: 475px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
}

.card-header {
  color: #3c240f;
}

.card-body {
  color: #3c240f;
}

.container-fluid {
  align-content: center;
  height: 100vh;
}

a {
  font-family: "Roboto", sans-serif;
  color: brown;
}

.nav{
	background-color: #24292e;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    z-index: 32;
}

nav img {
	width: 16px;
}

.logo {
	width: 100%;
	margin-right: 40px;
}